div {
  [data-theme-logo="true"] {
    display: flex;
    align-items: center;
    justify-content: center;

    [data-theme-logo-first] {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
