.classSection__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;

  .infocard__container {
    max-width: 216px;
  }

  a {
    width: fit-content;

    @media (max-width: 650px) {
      .infocard__container {
        max-width: 170px;
      }
    }
  }

  @media (max-width: 350px) {
    justify-content: center;
  }
}
