// .keen-slider__slide {
// }

[data-fs-category-section] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .infocard__container {
    max-width: 204px;
  }

  a {
    width: fit-content;
  }

  @media (max-width: 350px) {
    justify-content: center;
  }
}
