.classSection__container {
  margin-top: 2rem;
}

.classSection__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;

  .infocard__img {
    max-width: 216px;
  }

  a {
    width: fit-content;

    @media (max-width: 650px) {
      .infocard__img {
        max-width: 170px;
      }
    }
  }

  @media (max-width: 1070px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
  }

  @media (max-width: 850px) {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
  }

  @media (max-width: 540px) {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.classSection__container.category-session .classSection__content {
  justify-content: space-between;
}
