@import "src/styles/scaffold";

[data-select] {
  position: relative;
  display: flex;
  align-items: center;

  label {
    margin-right: var(--fs-spacing-1);
    font-size: 14px;
    font-weight: 400;
    color: #837f89;

    @include media("<notebook") {
      display: none;
    }
  }

  [data-store-select] {
    font-size: 14px;
    color: #000;
    background: none;
    border: 0;
    border-radius: var(--fs-border-radius-default);
    box-shadow: 0;
    transition: box-shadow .2s ease, background-color .2s ease;
    appearance: none;

    @include focus-ring-visible;

    &:focus-visible { box-shadow: none; }

    &:disabled {
      color: var(--fs-color-disabled-text);
      cursor: not-allowed;
      opacity: 1;
      + svg { display: none; }
    }

    @include media("<notebook") {
      min-height: var(--fs-control-tap-size);
      padding: 8px;
      font-size: 14px;
      font-weight: 400;
      color: #a100ff;
      text-align: center;
      background: linear-gradient(0deg, rgb(230 220 255 / 50%), rgb(230 220 255 / 50%)), #ffffff;
      border-radius: 4px;
    }

    @include media(">=notebook") { height: var(--fs-spacing-6); }

    option {
      background-color: var(--fs-color-theme-2);
    }
  }

  svg {
    position: absolute;
    right: var(--fs-spacing-2);
    width: 15px;
    height: 15px;
    color: #e6dcff;
    pointer-events: none;

    @include media("<notebook") {
      display: none;
    }
  }
}
