@import "src/styles/scaffold";

.infocard__container {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 0.5rem;

  &:hover {
    border-color: var(--fs-color-theme-4);

    .infocard__text {
      color: var(--fs-color-neutral-0);
      background-color: var(--fs-color-theme-4);
    }
  }
}

.infocard__text {
  position: absolute;
  bottom: 30px;
  max-width: 150px;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--fs-color-theme-4);
  text-align: center;
  pointer-events: none;
  background-color: var(--fs-color-neutral-0);
  border-radius: 0.5rem;

  @media (max-width: 448px) {
    max-width: 75px;
    padding: 10px;
    font-size: 10px;
  }
}

.infocard__img {
  border-radius: 0.5rem;

  @media (max-width: 448px) {
    max-width: 170px;
    max-height: 150px;
  }
}

.classSection__brand {
  align-items: center;
  width: 204px;
  height: 128px;
  background-color: #fafafa;

  .infocard__img {
    border-radius: 0;
  }

  [data-brand-size="big"] {
    max-width: 50%;
  }

  [data-brand-size="small"] {
    max-width: 22%;
  }

  &:hover {
    background-color: #ffffff;
  }
}
